<p>new-follow works!</p>
<div class="container-fluid text-capitalize">

    <div class="row justify-content-center align-items-center text-center">
        <div class="col-7">

            <!--titre-->

            <div class="row justify-content-center align-items-center text-center text-danger my-lg-4 mt-3">
                <h1 class="col-12 display-4 ">Add something to follow</h1>
            </div>






            <!-- choix d'icones-->

            <div class="row justify-content-center align-items-center text-center my-lg-4 mt-3" aria-hidden="true">

                <p class="col-12 h3 " aria-hidden="true">choose an icon</p>

                
            <!-- icone par defaut-->

                <div class="col-3 clickable-dark" *ngIf="'fas fa-circle-notch' != follow.iconSlug">
                    <p class="display-4 m-0" aria-hidden="true" (click)="follow.iconSlug = 'fas fa-circle-notch'"><i
                            class="fas fa-circle-notch"></i></p>
                    <p class="h4 m-0" aria-hidden="true">default</p>
                </div>

                <div class="col-3 text-danger" *ngIf="'fas fa-circle-notch' === follow.iconSlug">
                    <p class="display-4 m-0 " aria-hidden="true"><i class="fas fa-circle-notch"></i></p>
                    <p class="m-0 h4" aria-hidden="true">default</p>
                </div>
            


            <!-- choix d'icones-->


                <div class="col-3 text-dark" aria-hidden="true" *ngFor="let icon of icons">

                    <p class="display-4 m-0 clickable-dark" aria-hidden="true" *ngIf="icon.code != follow.iconSlug"
                        (click)="follow.iconSlug = icon.code"><i class={{icon.code}}></i></p>

                    <p class="display-4 m-0 text-danger" aria-hidden="true" *ngIf="icon.code === follow.iconSlug"><i
                            class={{icon.code}}></i></p>
                </div>
            </div>



            <!-- nom-->

            <div class="row justify-content-center align-items-center text-center my-lg-4 my-3">
                <p class="col-12 h3">Enter a name</p>
                    <input class="form-control col-12" type="text" placeholder="Enter a name (max 15)" [(ngModel)]="follow.name" maxlength="15">
                <div class="col-12">


                </div>
            </div>





            <!--intensité-->


            <div class="row justify-content-center align-items-center text-center my-lg-4 my-3">
                <p class="col-12 h3">Do you want to follow intensity?</p>
                <div class="col-12">


                    <div class="btn-group-lg row my-2" role="group" *ngIf="!follow.isIntensity">
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"
                            (click)="follow.isIntensity = true">yes</button>

                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0 active">no</button>
                    </div>


                    <div class="btn-group-lg row my-5" role="group" *ngIf="follow.isIntensity">
                        <button type="button" class="btn btn-outline-danger btn-block active col-6 m-0">yes</button>

                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"
                            (click)="follow.isIntensity = false">no</button>
                    </div>
                </div>

            </div>







            <!--validation-->

            <div class="row btn-group-lg justify-content-center align-items-center text-center ">
                <button type="button" class="col-6 btn btn-outline-danger" (click)="newFollow()">OK</button>
            </div>

            <div class="row btn-group-lg justify-content-center align-items-center text-center mt-1">
                <button type="button" class="col-6 btn btn-outline-secondary" (click)="goBack()">Go
                    Back</button>
            </div>

        </div>
    </div>
</div>