<div class="container-fluid text-capitalize">

    <div class="row justify-content-center align-items-center text-center">
        <div class="col-10">

            <!--titre-->

            <div class="row justify-content-center align-items-center text-center text-danger my-lg-5 mt-3">
                <p class="col-12 display-4 ">Observation</p>
            </div>


            <!--observation-->

            <div class="row justify-content-center align-items-center text-center my-lg-5 my-3">

                <form class="col-7 p-0">
                    <div class="form-group">
                        <label class="sr-only sr-only-focusable" for="observation">Observation</label>
                        <textarea class="form-control" id="observation" rows="4" [(ngModel)]="entry.observation"
                            name="observation"></textarea>
                    </div>
                </form>

                <!--
                <p class="col-12">verif obs : {{entry.observation}}</p>-->
                <p class="col-7">{{message}}</p>


            </div>




            <!--validation-->

            <div class="row btn-group-lg justify-content-center align-items-center text-center "
                *ngIf="!entry.observation">
                <button type="button" class="col-6 btn btn-outline-danger disabled" (click)="newEntry()">OK</button>
            </div>

            <div class="row btn-group-lg justify-content-center align-items-center text-center"
                *ngIf="entry.observation">
                <button type="button" class="col-6 btn btn-outline-danger" (click)="newEntry()">OK</button>
            </div>



            <div class="row btn-group-lg justify-content-center align-items-center text-center mt-1">
                <button type="button" class="col-6 btn btn-outline-secondary" (click)="goBack()">Go Back</button>
            </div>

        </div>
    </div>
</div>