<div class="container-fluid vh-100">
    <div class="row h-100 justify-content-center align-items-center text-center">
        <div class="col-11 col-lg-6">

            <div class="row">
                <div class=" col  mb-5">
                    <div class="btn-group-lg row" role="group">
                        <button type="button" class="btn btn-outline-danger btn-block active col-6 m-0">Login</button>
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"
                            (click)="goTo('register')">Register</button>
                    </div>
                </div>
            </div>

            <form class="row" (ngSubmit)="login()" *ngIf="!currentUser; else elseBlockLogged">
                <label class="col-12 mt-3" for='email-login'>Email :</label>
                <input class="col-12 mb-3" type="email" name="email" id="email-login" [(ngModel)]="username">

                <label class="col-12 mt-3" for='password-login'>Password :</label>
                <input class="col-12 mb-3" type="password" name="password" id="password" [(ngModel)]="password">


                <button class="col-12 my-4 btn btn-lg btn-outline-danger"
                    [disabled]="!username || !password">login</button>
            </form>

            <ng-template #elseBlockLogged>
                <div class="row">
                <p class="col-12">Already logged</p>
                <button type="button" class="btn btn-outline-danger btn-block col-12 m-0"
                    (click)="logout()">logout</button>
                </div>
            </ng-template>

            <p *ngIf="message">{{message}}</p>

        </div>

    </div>
</div>