<div class="container-fluid text-capitalize">
    <div class="row h-100 justify-content-center align-items-center text-center border border-danger my-3 pb-2"
        *ngFor="let entry of entries">


        <!-- -->
        <p class="col-12 bg-danger m-0 mb-2 p-2">{{entry.date | date}}</p>

        <div class="col-lg-3 m-0 p-0" *ngIf="entry.follow">

            <div class="row m-0 p-0">

                <p class="col-12 display-4 m-0 p-0" aria-hidden="true" ><i
                        class={{entry.follow.iconSlug}}></i></p>
                <p class="col-12 m-0 p-0" >{{entry.follow.name}}</p>
                <p class="col-12 m-0 p-0" *ngIf="entry.intensity">{{entry.intensity}}/5</p>
            </div>
        </div>

        <p class="col-9 m-0 p-0" *ngIf="entry.observation">{{entry.observation}}</p>
    </div>
</div>