<div class="container-fluid vh-100">
    <div class="row justify-content-center text-center h-100 align-items-center">
        <div class=" col-11 col-lg-6">
            <div class="row">
                
                <div class=" col  mb-5">
                    <div class="btn-group-lg row" role="group">
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"
                            (click)="goTo('login')">Login</button>
                        <button type="button"
                            class="btn btn-outline-danger active btn-block col-6 m-0">Register</button>
                    </div>
                </div>
            </div>

            <form class="row" (ngSubmit)="register()" *ngIf="!currentUser; else elseBlockLogged">
                <label class="col-12 mt-3" for='email'>Email :</label>
                <input class="col-12 mb-3" type="email" name="email" id="email" [(ngModel)]="user.email">

                <label class="col-12 mt-3" for='password'>Password :</label>
                <input class="col-12 mb-3" type="password" name="password" id="password" [(ngModel)]="user.password">

                <label class="col-12 mt-3" for='repeat'>Repeat password :</label>
                <input class="col-12" type="password" name="repeat" id="repeat" [(ngModel)]="repeat">

                <p class="col-12 text-danger mb-2" *ngIf="!user.password || user.password !== repeat; else elseBlock">
                    Please
                    enter a valid password</p>
                <ng-template #elseBlock>
                    <p class="col-12 text-success mb-2">Password ok</p>
                </ng-template>


                <button class="col-12 btn btn-lg btn-outline-danger my-4" [disabled]="!validForm()">Register</button>
            </form>

            <ng-template #elseBlockLogged>
                <div class="row">
                    <p class="col-12">Already logged</p>
                    <button type="button" class="btn btn-outline-danger btn-block col-12 m-0"
                        (click)="logout()">logout</button>
                </div>
            </ng-template>

            <p *ngIf="message">{{message}}</p>
        </div>

    </div>
</div>