.logo{
    max-height: 100%;
}

.icon{
    font-size: 5em;
}

.lg-icon{
    font-size: 7em;
}

.txt{
    font-size: 1.5em;
    font-weight: bold;
}

.mb-n3{
    margin-bottom: 1.1rem;
}

.next{
    bottom: 0px;
}