<div class="container-fluid vh-100  text-center text-danger text-capitalize">
    <div class="row h-100 align-items-center ">

        <!-- logo -->
        <div class="col-sm-6  h-50 p-3">
            <app-logo></app-logo>
            <p class="sr-only">Welcome on the Follow app</p>
        </div>

        <!-- liens -->
        <div class="col-sm-6 h-50">
            <div class="row justify-content-center ">

                <!-- non co -->
                <div class=" col-9 p-2 p-lg-3 " *ngIf="!currentUser">
                    <div class="btn-group-lg row" role="group">
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0" (click)="goTo('login')">Login</button>
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0" (click)="goTo('register')">Register</button>
                    </div>
                </div>

                <!-- co -->
                <div class=" col-9 p-2 p-lg-3" *ngIf="currentUser">
                    <div class="btn-group-lg row" role="group">
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"  (click)="goTo('home')">Enter</button>
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"  (click)="goTo('logout')">Logout</button>
                    </div>
                </div>


                <!-- ressources -->
                <div class="col-12 p-2 p-lg-3 clickable-danger"  (click)="goTo('ressources')">
                    <p class="txt m-0">Ressources</p>
                    <p><i class="fas fa-book-open icon"></i></p>
                </div>

            </div>
            
        </div>
        
        <!-- next -->
        <div class="col-12 fixed-bottom clickable-danger" (click)="goTo('infos')">
            <p class="txt m-0 mb-n3">More</p>
            <p class="m-0"><i class="fas fa-caret-down icon"></i></p>
        </div>

    </div>