<div class="container-fluid text-capitalize">

    <div class="row justify-content-center align-items-center text-center">
        <div class="col-10">

            <!--titre-->

            <div class="row justify-content-center align-items-center text-center text-danger my-lg-4 mt-3">
                <p class="col-12 display-4 ">{{entry.follow.name}}</p>
            </div>



            <!--intensité-->

            <div class="row justify-content-center align-items-center text-center my-lg-4 my-3 p-0 mx-0"
                *ngIf="entry.follow.isIntensity">

                <p class="col-12 h3 mb-2">Intensity</p>

                <p class="col-1 m-0 p-0 h5 text-secondary" *ngIf="entry.intensity===1"><i class="fas fa-minus"></i></p>
                <p class="col-1 m-0 p-0 h5" *ngIf="entry.intensity !=1" (click)="intensityLess()"><i class="fas fa-minus"></i>
                </p>


                <p class="col-2 col-lg-1 m-0 p-0 h5 text-danger" *ngIf="entry.intensity===1"><i class={{entry.follow.iconSlug}}></i>
                </p>
                <p class="col-2 col-lg-1 m-0 p-0 h5" *ngIf="entry.intensity !=1" (click)="entry.intensity=1"><i
                        class={{entry.follow.iconSlug}}></i></p>

                <p class="col-2 col-lg-1 m-0 p-0 h4 text-danger" *ngIf="entry.intensity===2"><i class={{entry.follow.iconSlug}}></i>
                </p>
                <p class="col-2 col-lg-1 m-0 p-0 h4" *ngIf="entry.intensity !=2" (click)="entry.intensity=2"><i
                        class={{entry.follow.iconSlug}}></i></p>

                <p class="col-2 col-lg-1 m-0 p-0 h3 text-danger" *ngIf="entry.intensity===3"><i class={{entry.follow.iconSlug}}></i>
                </p>
                <p class="col-2 col-lg-1 m-0 p-0 h3" *ngIf="entry.intensity !=3" (click)="entry.intensity=3"><i
                        class={{entry.follow.iconSlug}}></i></p>

                <p class="col-2 col-lg-1 m-0 p-0 h2 text-danger" *ngIf="entry.intensity===4"><i class={{entry.follow.iconSlug}}></i>
                </p>
                <p class="col-2 col-lg-1 m-0 p-0 h2" *ngIf="entry.intensity !=4" (click)="entry.intensity=4"><i
                        class={{entry.follow.iconSlug}}></i></p>

                <p class="col-2 col-lg-1 m-0 p-0 h1 text-danger" *ngIf="entry.intensity===5"><i class={{entry.follow.iconSlug}}></i>
                </p>
                <p class="col-2 col-lg-1 m-0 p-0 h1" *ngIf="entry.intensity !=5" (click)="entry.intensity=5"><i
                        class={{entry.follow.iconSlug}}></i></p>


                <p class="col-1 m-0 p-0 h5 text-secondary" *ngIf="entry.intensity===5"><i class="fas fa-plus"></i></p>
                <p class="col-1 m-0 p-0 h5" *ngIf="entry.intensity !=5" (click)="intensityPlus()"><i class="fas fa-plus"></i>
                </p>


                <div class="col-12">
                    <div class="row justify-content-center">

                        <button type="button" class="col-4 btn btn-outline-danger my-lg-5 my-2 active"
                            *ngIf="!entry.intensity">No thanks</button>

                        <button type="button" class="col-4 btn btn-outline-danger my-lg-5 my-2" *ngIf="entry.intensity"
                            (click)="entry.intensity = null">Clear</button>

                    </div>
                </div>

            </div>




            <!--observation-->


            <div class="row justify-content-center align-items-center text-center my-lg-4 my-3">

                <p class="col-12 h3 mb-3" aria-hidden="true">Observation</p>

                <form class="col-12 col-lg-7 p-0">
                    <div class="form-group">
                        <label class="sr-only sr-only-focusable" for="observation">Observation</label>
                        <textarea class="form-control" id="observation" rows="4" 
                        [(ngModel)]="entry.observation"
                            name="observation"></textarea>
                    </div>
                </form>

                <!--
                <p class="col-12">verif obs : {{entry.observation}}</p>-->
           



                <div class="col-12">
                    <div class="row justify-content-center ">
                        <button type="button" class="col-4 btn btn-outline-danger my-lg-5 my-2 active"
                            *ngIf="!entry.observation">No thanks</button>
                        <button type="button" class="col-4 btn btn-outline-danger my-lg-5 my-2" *ngIf="entry.observation"
                            (click)="entry.observation = null">Clear</button>
                    </div>
                </div>

            </div>




            <!--validation-->

            <div class="row btn-group-lg justify-content-center align-items-center text-center ">
                    <button type="button" class="col-6 btn btn-outline-danger" (click)="newEntry()">OK</button>
            </div>
            
            <div class="row btn-group-lg justify-content-center align-items-center text-center mt-1">
                    <button type="button" class="col-6 btn btn-outline-secondary" (click)="goBack()">Go Back</button>
            </div>

        </div>
    </div>
</div>
