<div class="container-fluid text-capitalize">
    <div class="row h-100 justify-content-center text-center my-5">


        <div class="col-4 text-dark" *ngFor="let item of currentUser.followed">
            <a routerLink="/new-entry/{{item.id}}" class="text-dark">
                <p class="display-4 m-0" aria-hidden="true"><i class={{item.iconSlug}}></i></p>
                <p>{{item.name}}</p>
            </a>
        </div>


        <div class="col-12 text-dark my-5">
            <a routerLink="/new-follow" class="text-dark">
                <p class="display-4 m-0" aria-hidden="true"><i class="fas fa-plus"></i></p>
                <p>add one</p>
            </a>
        </div>


        <div class="col-12 text-dark">
            <a routerLink="/new-observation" class="text-dark">
                <p class="h1 m-0">Just</p>
                <p class="h1 m-0">comment</p>
            </a>
        </div>
    </div>
</div>