/* You can add global styles to this file, and also import other style files */


.vh100{
    height: 100vh;
}

.clickable-danger{
    color: #dc3545;
}


.clickable-danger:hover{
    color: #c82333;
}


.clickable-dark{
    color:  #343a40;
}

.clickable-dark:hover{
    color: #23272b;
}



/* .btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
  }
  
  .btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
  } 
  
  
  .btn-dark {
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #1d2124;*/