<div class="container-fluid">
    <div class="row h-100 justify-content-center text-center">
        <div class="col-11 col-lg-6">

            <div class="row">



                <!-- -->

                <div class="col" *ngIf="shownComponent === 'journal'">
                    <div class="btn-group-lg row my-5" role="group">
                        <button type="button" class="btn btn-outline-danger btn-block active col-6 m-0">Journal</button>
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"
                            (click)="switch('add entry')">Add entry</button>
                    </div>

                    <app-journal></app-journal>
                </div>





                <!-- -->

                <div class="col" *ngIf="shownComponent === 'add entry'">
                    <div class="btn-group-lg row my-5" role="group">
                        <button type="button" class="btn btn-outline-danger btn-block col-6 m-0"
                            (click)="switch('journal')">Journal</button>
                        <button type="button" class="btn btn-outline-danger btn-block active col-6 m-0">Add
                            entry</button>
                    </div>

                    <app-add-entry></app-add-entry>
                </div>



            </div>
        </div>
    </div>
</div>